.navlogo{
    padding-left: 0%;
    font-size: 75px;
    background-color: rgb(195, 236, 226);     
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.nav{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(195, 236, 226); 
}    
.nav-item{
    margin-left: 20%;
}
.bio{
    font-size: 20px;
    text-align: left;
    padding-top: 3.5%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgb(229, 226, 226);
    padding-bottom: 5%;
}
.foto{
    padding-left: 27%;
    background-color: rgb(229, 226, 226);
    padding-top: 1%;
    padding-bottom: 3%;
}
body{
    background-color: rgb(229, 226, 226);
}
.footergran{
    margin-top: -3%;
    background-color: rgb(199, 198, 195);

}
.footer{
    margin-bottom: 2%;
}
.insta{
    margin-left: 90%;
    margin-top: -6.5%;
}